.App {
  height: 75%;
  width: 100%;
  position: absolute;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

}

.adviceContainer{
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.advice{
  color:rgb(54, 52, 52);
  border-radius: 16px;
  padding: 20px;
  font-size: 1.5em;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  background: rgb(255, 249, 249);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:rgb(238, 237, 237);
}

footer{
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background: rgba(255, 255, 255, 0.151);
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
